<div class="container mt-4">
  <div class="row">
    <div class="col-lg-12 col-md-8 col-ms-6">
Miejsce baner raklamowey Miejsce baner raklamowey Miejsce baner raklamowey Miejsce baner raklamowey Miejsce baner raklamowey
      </div>
  </div>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-ms-6">
      Miejsce baner raklamowey Miejsce baner raklamowey Miejsce baner raklamowey Miejsce baner raklamowey Miejsce baner raklamowey
  </div>
    <div class="col-lg-10 col-md-8 col-ms-6">
        <div class="row">
          <div *ngFor="let user of users" class="col-lg-2 col-md-4 col-ms-6">
            <app-user-card [user]='user'></app-user-card>
          </div>
        </div>
    </div>
  </div>
</div>
